h1{
color: rgb(17, 207, 27);

}
button{
    width:180px;
    height:90px;
    

}
body{
background-color:#d8d4d5
;
}
    .H1{
COLOR:RED


}
#H2{
    color: chartreuse;
    flex-grow: inherit;
    }
    #H3{
        COLOR:ORANGE
        
        }
        #BOX{
            background-color: blue;
             color:azure 
        }
        /* button{ */
            background-color: darkolivegreen;
            color: red;

        }
        .CHOCCOLATE1{
            text-align:center;
            color: #9c0a0a;
            font-weight:700;
        }
        
        .CHOCCOLATE2{
            text-align: center;
           color: green;
           font-weight: bolder;
           flex-grow: inherit;
        }
        .CHOCCOLATE3{
            text-align: center;
             color:#99582a;
             font-weight: bold;
        }
        .CHOCCOLATE1{
            text-align:center;
            color: #9c0a0a;
            font-weight:700;
        }
        
        a{
            text-decoration: none;
            flex-grow: inherit;
            font-weight: 900;
            color: brown;
        }
        .CO{
            
            text-decoration:line-through;
            flex-grow: inherit;
            font-weight: 1000;
            color: rgb(85, 10, 69)

        }
       #p1{
            font-family:cursive;
            font-size:50px ;
            line-height:100px;
        }
        .d1{
            font-size: 25px;
        }
        .d2{
            font-size: 10px;
        }
